<html>
    <head>
        <title>ToDoList App</title>
        <link rel="stylesheet" href="./css/home.css">
    </head>
    <body>
        <div id="app">
            <div id="container">
                <p id="app-title">TODO App</p>
            </div>    
        </div>
    </body>
</html>