<html>
    <head>
        <title>ToDoList App</title>
        <script src="https://kit.fontawesome.com/1d71c5906f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/home.css">
    </head>
    <body>
        <div id="app">
            
            <div id="container">
                <p id="app-title" class="pt-2">TODO App</p>
                <form action="/add/task" method="post">
                    <div id="tasks-input-container">

                        <div class="span2 bt">
                            <p class="field-description">Description</p>
                            <input type="text" name="task" placeholder="What do you need to do?" id="task-text">
                        </div>
    
                        <div class="by">
                            <p class="field-description">Category</p>
                            <select name="category" id="category">
                                <option value="">Choose a category</option>
                                <option value="personal">Personal</option>
                                <option value="work">Work</option>
                                <option value="school">School</option>
                                <option value="cleaning">Cleaning</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
    
                        <div class="bl by">
                            <p class="field-description">Due Date</p>
                            <input type="date" name="dueDate" id="due-date">
                        </div>
    
                        <div class="span2">
                            <button type="submit" id="submit-button">
                                <p><i class="fa-solid fa-plus"></i>ADD TASK</p>
                            </button>
                            <button type="button" id="task-add-button">
                                <p><a href="/delete/task" class="ib"><i class="fa-solid fa-trash-can"></i>DELETE TASKS</a></p>
                            </button>
                        </div>
    
                    </div>
                </form>
                
                <div id="task-container">

                    <ul id="task-list">
                        <% for(let i of taskList){ %>
    
                            <li class="bt tasks pt-0-5">
                                <div class="task-checker ib">
                                    <a href=""><div></div></a>
                                </div>
                                <div class="task-description ib pb-1-5">
                                    <p class="task-name">
                                        <%= i.task %>
                                    </p>

                                    <div class="category">
                                        <p class="m-0">
                                            <%= i.category.toUpperCase() %>
                                        </p>
                                    </div>
            
                                    <p>
                                        <%= i.dueDate %>
                                    </p>
                                </div>
                            </li>
    
                        <% } %>
                    </ul>
    
                </div>

            </div>

        </div>

        <script src="./js/home.js"></script>

    </body>
</html>