/* Common variables for color */

:root{
    --light_grey: rgba(128, 128, 128, 0.7);
    --mild_grey: rgba(128, 128, 128, 0.8);
    --gray: gray;
    --white: white;
    --lightgreen: lightgreen;
    --ivory: rgba(128, 128, 128, 0.2);
}

/* Styles for body */
body{
    font-family: sans-serif;
    background-color: var(--mild_grey);
    color: var(--gray);
    margin: 0;
}

/* Common classes */

.mt-2{
    margin-top: 2rem;
}

.m-0{
    margin: 0rem;
}

.pt-0-5{
    padding-top: 0.5rem;
}

.pt-2{
    padding-top: 2rem;
}

.pb-1-5{
    padding-bottom: 1.5rem;
}

.bt{
    border-top: 2.3px solid var(--ivory);
}

.bl{
    border-left: 2.3px solid var(--ivory);
}

.by{
    border-top: 2.3px solid var(--ivory);
    border-bottom: 2.3px solid var(--ivory);
}

.ib{
    display: inline-block;
}

.fw-b{
    font-weight: bold;
}

/* Styles for the whole container of the app */

#app{
    height: 100vh;
    width: 100%;
}

#container{
    margin: auto;
    background-color: var(--white);
    width: 55%;
}

/* Main Heading */

#app-title{
    text-align: center;
    font-family: serif;
    font-size: 2.2rem;
    letter-spacing: 6px;
}

/* Tasks input */

#tasks-input-container{
    height: 40vh;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2,1.5fr) 2fr;
    grid-template-columns: repeat(2,1fr);
}

.span2{
    grid-column: span 2;
}

#tasks-input-container > div:nth-last-child(1){
    display: grid;
    column-gap: 7px;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}

/* Styles for separate input fields */

#tasks-input-container > div{
    padding: 0 1.5rem;
}

.field-description{
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    color: var(--mild_grey);;
}

#tasks-input-container > div > input,#category{
    width: 100%;
}

#task-text,#due-date,#category{
    outline: none;
    border: none;
    color: var(--mild_grey);
    font-size: 1rem;
}

#task-text::placeholder{
    color: var(--light_grey);
    letter-spacing: 2px;
}

button > p,button > p > a{
    color: var(--white);
    font-size: 1.3rem;
    margin: 0;
    height: 90%;
}

button > p{
    padding: 0.7rem 1.5rem;
}

i{
    margin-right: 1.3rem;
    margin-left: -0.7rem;
}

#submit-button{
    background-color: #444444;
    justify-self: right;
}

#task-add-button{
    background-color: #ee351e;
    justify-self: left;
}

/* Styles for tasks */

#task-container{
    margin: 0.5rem 1.8rem;
    padding-bottom: 2rem;
}

#task-list{
    list-style: none;
    padding: 0;
}

.tasks:hover{
    background-color: #fcfcfc;
}

.task-checker{
    width: 1.3rem;
    height: 1.3rem;
    border: 3px solid gray;
    border-radius: 5px;
    margin-top: 0.8rem;
    margin-right: 1.7rem;
    vertical-align: top;
}

.task-checker > a,.task-checker > a > div{
    height: 100%;
    position: relative;
}

.task-name{
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.task-description > p{
    margin: 0.5rem 0;
}

.task-description{
    position: relative;
    margin-top: 0.3rem;
    width: 90%;
}

.category{
    position: absolute;
    right: 0.8rem;
    top: 1.2rem;
    width: 6rem;
    padding: 0.8rem 0.6rem;
    color: var(--white);
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}

.date-text{
    color: var(--light_grey);
    letter-spacing: 2px;
}

#calendar-icon{
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-left: 0rem;
    color: var(--light_grey);
}

/* Styles when a task is completed */

.task-complete{
    background-color: var(--lightgreen);
}

.task-complete > a > div > div{
    position: absolute;
    height: 15px;
    width: 7px;
    left: 6px;
    transform: rotate(40deg);
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
}

.strike-out{
    text-decoration: line-through;
}

/* Cursor property for anchor tags */

a{
    cursor: default;
    text-decoration: none;
}
